@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Forum');

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Marcellus|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Vidaloka');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.protest-revolution-regular {
    font-family: "Protest Revolution", serif;
    font-weight: 400;
    font-style: normal;
}

.niconne-regular {
    font-family: "Niconne", serif;
    font-weight: 400;
    font-style: normal;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-style: normal;
}


.roboto-condensed-unique {
                       font-family: "Roboto Condensed", serif;
                       font-optical-sizing: auto;
                       font-weight: 500;
                       font-style: normal;
                   }


.oswald-font {
             font-family: "Oswald", serif;
             font-optical-sizing: auto;
             font-weight: 500;
             font-style: normal;
         }


.quicksand-unique {
                font-family: "Quicksand", serif;
                font-optical-sizing: auto;
                font-weight: 50;
                font-style: normal;
            }


.space-grotesk-unique> {
                    font-family: "Space Grotesk", serif;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                }

.marcellusSC {
    font-family: 'Marcellus SC', serif;
    font-weight: bold;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Marcellus';
    src: url("/fonts/Marcellus-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monda';
    src: url("/fonts/Monda-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

