@import 'bulma/css/bulma.min.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  scroll-behavior: smooth;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure content is not hidden behind the navbar */
/*body {
  padding-top: 3.5rem;
}*/

/* Main Navbar: This disappears when scrolling */
.main-navbar {
  background-color: white !important;
  transition: transform 0.3s ease-in-out;
}


/* Sticky Navbar: This appears after scrolling */
.sticky-navbar {
  background-color: white !important;
  top: 0;
  position: fixed;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for different shadow effects */
}

/* Slide-in animation for sticky navbar */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}


.pixDiv200 {
  height: 10000px;
}

.blueBackgroundColor {
  background-color: darkblue !important;
}

.whiteBackgroundColor {
  background-color: white;
}

.fontColorBlack {
  color: black;
}

.logoUpDownMargin {
  margin: 5px 0;
}

.h-100px {
  height: 100px;
}

/* Overriding navbar item */
.navbar-item img {
    max-height: none !important;
}

.navbar-item {
  color: black !important;
}




@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar-menu.is-active .navbar-item {
  animation: slideInLeft 0.5s ease-out both;
}

.navbar-menu {
  background-color: #F7F7F7 !important;
}


.navbar-item:hover {
  background-color: #0f2294 !important;
  color: white !important;
}

/* Delay each menu item for a staggered effect */
.navbar-menu.is-active .navbar-item:nth-child(1) {
  animation-delay: 0.1s;
}
.navbar-menu.is-active .navbar-item:nth-child(2) {
  animation-delay: 0.2s;
}
.navbar-menu.is-active .navbar-item:nth-child(3) {
  animation-delay: 0.3s;
}
.navbar-menu.is-active .navbar-item:nth-child(4) {
  animation-delay: 0.4s;
}
.navbar-menu.is-active .navbar-item:nth-child(5) {
  animation-delay: 0.5s;
}



.split-text-container {
  display: flex;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  justify-content: center;
}

.text-part {
  display: inline-block;
  position: relative;
  transform: translateX(0);
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text-part.left {
  transform: translateX(-200%);
  animation-name: slide-in-left;
}

.text-part.right {
  transform: translateX(200%);
  animation-name: slide-in-right;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}




/*.container h1:nth-child(1) {
  color: #355c7d;
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(40,end) forwards;
}*/

/*.container h1:nth-child(1) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 40px;
  width: max-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  animation: shring-animation 2.2s steps(40,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}*/


.zindex-3 {
  z-index: 3 !important;
}





.side-carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  max-width: 200px;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.side-carousel:hover {
  opacity: 1;
}

.left-carousel {
  left: 0;
  top: 18rem;
}

.right-carousel {
  right: 0;
  top: 18rem;
}

/*.carousel-item img {
  width: 100%;
  height: 500px; !* Set a fixed height *!
  object-fit: cover; !* Ensures images fill the container without distortion *!
  border-radius: 10px;
}*/


/* Carousel item styling */
.carousel-item video {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

/* Medium screens (Tablets) */
@media (min-width: 768px) {
  .side-carousel {
    width: 20%;
    max-width: 250px;
  }
  .carousel-item video {
    height: 600px;
  }
}

/* Large screens (Laptops, Desktops) */
/*@media (min-width: 1024px) {
  .side-carousel {
    width: 25%;
    max-width: 300px;
  }
  .carousel-item video {
    height: 500px;
  }
}*/

/* Extra-large screens (4K) */
@media (min-width: 1024px) {
  .side-carousel {
    width: 15%;
    max-width: 350px;
  }
  .carousel-item video {
    height: 70vh;
  }
}

/* Extra-large screens (4K) */
@media (min-width: 1800px) {
  .side-carousel {
    width: 25%;
    max-width: 350px;
  }
  .carousel-item video {
    height: 70vh;
  }
}

.section2 {
  /*height: 100vh !important;*/
  /*min-height: 100vh;*/
  background-color: black !important; ;
}

.section3 {
  /*height: 100vh !important;
  min-height: 100vh;*/
  background-color: #ffffff !important;
}

.section4 {
  /*height: 100vh !important;
  min-height: 100vh;*/
  background-color:#00008BFF !important; ;
}

.divider {
  aspect-ratio: 960/300;
/*  height: 300px;*/
  /*background: no-repeat center;*/
  background-size: cover;
}

.wave-1 {
  background-image: url('/svg/wave.svg');
}

.wave-2 {
  background-image: url('/svg/wave2.svg');
}

.wave-3 {
  background-image: url('/svg/wave3.svg');
}




.glassmorphism {
/*  max-width: 300px;*/
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*max-width: 500px;*/
  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background: none !important;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}


.neonBorder {
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #ff1616,
  0 0 0.8rem #0089d2,
  0 0 2.8rem #faff00,
  inset 0 0 1.3rem #00ff95;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}


.backgroundNone {
  background: none !important;
}

.margin2remOnSides {
  margin: 0 2rem;
}



.gradient-background {
  background: linear-gradient(314deg,#00ffed,#1bffa0,#1ba3ff);
  background-size: 180% 180%;
  animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.sHtext{
  /*font-size: 15rem;
  text-align: center;
  height:90vh;
  line-height: 90vh;
  color: #fcedd8;
  background: #d52e3f;
  font-family: 'Niconne', cursive;*/
  /*font-weight: 700;*/
  text-shadow: 5px 5px 0px #1a572a,  /* Deep Green */
  10px 10px 0px #f4a261, /* Warm Orange */
  15px 15px 0px #e76f51, /* Earthy Red */
  20px 20px 0px #264653, /* Deep Teal */
  25px 25px 0px #2a9d8f, /* Muted Turquoise */
  30px 30px 0px #e9c46a, /* Mustard Yellow */
  35px 35px 0px #8d99ae, /* Desaturated Blue */
  40px 40px 0px #6a0572, /* Deep Purple */
  45px 45px 0px #003049; /* Dark Navy */

}


@media (max-width: 768px) {
  .sHtext {
    text-shadow: none;
    color: white !important;
  }
}

.serviceHoursList li strong {
  color: #0430e3 !important;
  font-size: 2rem; /* Adjust based on your preference */
}

.heightAuto {
  height: auto !important;
}

.fontSizeSpan {
  font-size: 1.5rem !important;
  font-weight: bold;
}

.redSpan {
  color: red !important;
}

.blackSpan {
  color: white !important;
}

.marginLeft {
  margin-left: 2.5rem !important;
}

.redBackground {
  background-color: red !important;
}

.fontColorWhite {
  color: white !important;
}

.smallFontSize {
  font-size: 1.1rem;
}

.headerFontSize {
  font-size: clamp(4rem, 5vw, 10rem); /* Make heading more responsive */
}

.fontBlack {
  color: black !important;
}

.flex {
  display: flex !important;
  justify-content: center;
}


@media (max-width: 768px) {
  .map-container,
  .image-container {
    flex: 1 1 100%; /* On smaller screens, make each element take full width */
  }

  .zindex-1 {
    z-index: 1 !important;
  }
}


@media (max-width: 1449px) {
  .locationText p {
    text-align: center !important;
  }

  .right-carousel, .left-carousel {
    display: none;
  }
}



/*.logo.blue-btn:hover .facebook-image {
  filter: brightness(1) drop-shadow(0px 0px 20px rgba(0, 111, 255, 0.9)); !* Intense glow on image *!
}*/

@media (max-width: 390px) {
  html {
    width: 115% !important;
  }
}



